/* JavaFX CSS - Leave this comment until you have at least create one rule which uses -fx-Property */
.root{
	-fx-background-color: #73E6F7;
}

.label{
	/*-fx-font-size: 12;*/
	/*-fx-font-family: "Lucida Console";*/
	/*-fx-alignment: center;*/
	
}

#labelMain{
	-fx-font-style: oblique;
	-fx-font-weight: bold;
	-fx-font-family: "Calibri";
	-fx-font-size: 36;
}

#textCountOfFiles, #textTimeOut, #textSizeOfFile{
	-fx-font-size: 18;
	-fx-alignment: center-right;
	}
	
#buttonMinusCountOfFiles, #buttonPlusCountOfFiles, #buttkpcoasionPlusTimeOut, #buttonMinusTimeOut{
	-fx-font-size: 8;
	-fx-font-weight: bold;
	/*-fx-pref-height: 10px;*/
	}
	
.disabled {
  -fx-control-inner-background: #bababa;
}

.enabled {
  -fx-control-inner-background: white;
}

.textTimeOut{
	-fx-control-inner-background: #bababa;
}

.sliderSizeOfFile .axis {
    -fx-tick-label-font-size: 16px;
    -fx-tick-label-font-family: "Arial";
    -fx-tick-label-font-weight: bold;
}


.sliderSizeOfFile {
	-fx-snap-to-ticks: "true";
}


/* 
.sliderSizeOfFile .track {
    -fx-pref-height:10;
}*/

.sliderSizeOfFile:vertical .track {
    -fx-pref-width:15;
}

.sliderSizeOfFile .thumb {
    -fx-pref-height: 15;
    -fx-pref-width: 15;
}

.textAreaLog{
	-fx-background-color: white;
}

.separator{
	-fx-opacity: 0.75;
}

/*  Priprava pro zarovnani prvku podle osy 
 * TODO zprovoznit
 */
.LeftAlign{
}
*/
